.aboutContainer{
   display: flex;
   flex-direction: column;
   width: 100%;
}

.aboutHeader{
   display: flex;
   flex-direction: column;
   width: 100%;
   justify-content: center;
   align-items: center;
   height: 200px;
   margin-top: 75px;
}

.aboutImg{
   height: 100%;
   width: 100%;
   object-fit: cover;
   background-position-y: top;

}

.aboutHeader h1{
   position: absolute;
   left: 40%;
   right: 40%;
   width: 25%;
   color: #E02B45;
   font-size: 50px;
   text-align: center;
   font-weight: 700;
}

.aboutMain{
   display: flex;
   width: 100%;
   justify-content: center;
}

.aboutContent{
   width: 80%;
   padding-block: 10px;
}

@media screen and (max-width: 850px){
   .aboutHeader{
      height: 150px;
   }
   .aboutHeader h1{
      font-size: 30px;
      /* width: 30%; */
      
   }
   .aboutContent{
      width: 100%;
      margin: 0px auto;
      padding-inline: 10px;
   }
}