body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 90px;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.modal1 {
    width: 100vw;
    height: 100vh;
    top: 90px;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlayy {
    background: rgba(49,49,49,0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.overlay {
    background: rgba(49,49,49,0.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.modal_content {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 900px;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding:90px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal_content2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 50px 35px;
    border-radius: 3px;
    width: 600px;
    max-width: 900px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.close_modal {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-top: 30px;
    padding: 5px;
    margin-right: 18px;
    cursor: pointer;
}

.close_modal1 {
    position: absolute;
    top: 30px;
    right: 30px;

    padding: 5px;

    cursor: pointer;
    background: #f1f1f1;
    border: 1px solid #ccc;;
}

.close_modal1:hover {
background: rgba(238, 84, 84, 0.4);
}
 
    



.close_modal:hover {
    position: absolute;
    background-color: rgba(235, 14, 48, 0.1) ;
    cursor: pointer;
    border: none;
}


.requestPack{
    width: 100%;
    height: 100vh;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.requestOutput{
    width: 50%;
    height: 70%;
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 100px;
}
.requestProfilePic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.modalName{
    color: #21334F;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 19px;
    margin-bottom: 21px;
}
.modalTitle{
    color: #21334F;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 17px;
    margin-bottom: 45px;
}
.modalText{
    color: #21334F;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 17px;
    margin-bottom: 14px;
}
.modalNumber{
    color: #C4C4C4;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 15px;
    margin-bottom: 10px;
}
.modalNo{
    color: #21334F;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 15px;
    margin-bottom: 40px;
}
.modalPlate{
    color: #21334F;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    margin-bottom: 27px;
}
.modalArrange{
    display: flex;
    gap: 1rem;
}
.modalBtn1{
    background-color:rgba(224, 43, 69, 0.1) ;
    padding: 17px;
    width: 370px;
    border: none;
    font-size: 20px;
    font-weight: 700 ;
    color: #E02B45;
    cursor: pointer;
}
.modalBtn3{
    background-color:rgba(227, 27, 57, 0.1) ;
    padding: 17px;
    width: 145px;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700 ;
    color: #E02B45;
    cursor: pointer;
}
.modalBtn1:hover{
    background-color: red;
    padding: 17px;
    width: 370px;
    border: none;
    color: white;
    cursor: pointer;
}
.modalBtn3:hover{
    background-color: red;
    padding: 17px;
    width: 145px;
    border-radius: 30px;
    border: none;
    color: white;
    cursor: pointer;
}
.modalBtn2{
    background-color: rgba(0, 0, 0, 0.04);
    padding: 17px;
    border-radius: 25px;
    width: 160px;
    cursor: pointer;
    font-size: 17px;
    border: none;
    color: #21334F;
}
.modalBtn2:hover{
    background-color: rgba(0, 0, 0);
    padding: 17px;
    border-radius: 25px;
    font-size: 17px;
    width: 160px;
    cursor: pointer;
    border: none;
    color: white;
}
.success{
    margin-top:5px;
    margin-bottom: 45px;
}